<div class="container">
  <div class="publication mb-1">
    <div class="row">
      <span> {{publication.enonce}}</span>
    </div>
    <!--    <div style="float: right">-->
    <!--      <button class="btn btn-primary" (click)="updatePublication()"> mettre à jour</button>-->
    <!--    </div>-->
  </div>
  <div class="p-5">
    <div *ngFor="let comment of publication.commentaires">

      <div class="row   commentaire mb-2">
        <span> {{comment.enonce}}</span>
        <div class="row">
          <div class="col col-4"><strong>Rédigé par : </strong> {{comment.nomCreateur}}</div>
          <div class="col col-4"><strong>Date: </strong> {{comment.date | date : 'dd/MM/yyyy H:mm:ss' }}</div>
        </div>
      </div>

      <div class="commentaire-container ">
        <span> {{comment.reactions.length}} <i class="fa fa-thumbs-up"></i> </span>
        <span class="p-lg-5" *ngIf="comment.checked === 1">   <i class="fa fa-star"></i> </span>
        <button class="btn btn-success m-1 float-end"
                *ngIf="(connectedUser.idUtilisateur === publication.idCreateur) &&  ! (comment.checked === 1 )"
                (click)="valider(comment)"> valider
        </button>

        <button class="btn btn-warning m-1 float-end"
                *ngIf="(connectedUser.idUtilisateur === publication.idCreateur) &&  (comment.checked === 1 )"
                (click)="resetvalider(comment)"> reset
        </button>
        <button class="btn btn-danger m-1 float-end" (click)="delete(comment.idCommentaire)"
                *ngIf="connectedUser.idUtilisateur === publication.idCreateur || connectedUser.idUtilisateur=== comment.idCreateur">
          supprimer
        </button>
        <button class="btn btn-primary m-1 float-end"
                *ngIf="connectedUser.idUtilisateur !== comment.idCreateur && showLikeBouton(comment.idCommentaire)"
                (click)="likeComment(comment.idCommentaire)">
          <i class="fa fa-thumbs-up"></i> J'aime
        </button>

      </div>
    </div>
    <div class="commentaire-container mt-5">
      <button *ngIf="!createNewCommentaire" class="btn btn-primary float-end" (click)="addNewCommentaire()">
        Ajouter un commentaire
      </button>
    </div>
    <div class="commentaire-container mt-5" *ngIf="createNewCommentaire">
      <div class="row  mb-2">
        <div class="row">
          <input type="text" class="new-comment" [(ngModel)]="enonce">
        </div>
        <div class="">
          <button class="btn btn-primary float-end m-3" (click)="abortAddCommentaire()">Annuler</button>
          <button class="btn btn-primary float-end m-3" (click)="addComment()">Ajouter</button>
        </div>
      </div>
    </div>
  </div>
</div>
